<!DOCTYPE html>
<html>
<head>
  <title>Railsblocks::Financial</title>
  <%= stylesheet_link_tag    "railsblocks/financial/application", media: "all" %>
  <%= javascript_include_tag "railsblocks/financial/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
